// example.styl

add(a, b)
  a + b

font-size = 14px
font = font-size "Lucida Grande", Arial

body
  background-color #f8f8f8
  padding add(10px, 5)
  font font, sans-serif

h1
  margin 10px
  padding 0 0 40px 0
  border-bottom 1px solid #ddd
  color #333
  font-size 32px

p
  margin 20px 0

  i
    color red
    font-weight bold

  a.button
    border-right 5px
